@model Yurt_Apart_Bul.Models.Siniflar.YurtApart  
@{
    ViewBag.Title = "YeniYurt";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Yurt/Apart Ekleme</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.Baslik)
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.YurtApartUrl)
    @Html.TextBoxFor(x => x.YurtApartUrl, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Aciklama)
    @Html.TextAreaFor(x => x.Aciklama,15,1, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Yurt/Apart Ekle</button>
</form>

